*
{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.row 
{
    margin-left: 0 !important;
}

.progress-bar .progress-bar-text {
    position: absolute;
    font-size: 0.9rem;
}

.transporte {
    background-color: #FF851B !important;
}

.alimentacao {
    background-color: #B10DC9 !important;
}

.progress {
    height: 2rem !important;
}

#recomendacao {
    height: 96px;
    font-weight: bold;
}
